@use '../mixins/mixins.scss' as *;

@include b(graph) {
    height: 100vh;
    width: 100%;
    display: flex;

    @include e(kg) {
        box-sizing: border-box;

        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        overflow: hidden;

        background-color: rgb(228, 228, 228);
    }

    @include e(panel-wrapper) {
        width: 300px;
        height: 600px;
        background-color: rgba(255, 255, 255, 0.6);

        position: absolute;
        right: 50px;
        top: 100px;

        border-radius: 20px;
        border: 1px solid rgb(187, 187, 187);
    }
}
