@use '../mixins/mixins.scss' as *;

@include b(swipper) {
    height: 100vh;
    width: 100vw;

    margin: 0 auto;
    position: relative;
    z-index: 0;

    @include e(item) {
        height: 100vh;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}
