$color-main: rgb(0, 0, 0);
$color-main-active: rgb(255, 255, 255);
$color-main-hover: rgb(215, 215, 215);
$color-white: #ffffff;
$color-sub: rgb(165, 196, 247);

$content-width: 1280px;
$content-min-width: 800px;

$font-family-primary: '';
$font-family-title: '';
$font-family-logo: '';

$shadow: 0 0 5px 5px rgb(203, 203, 203);

// $color-main: rgb(145, 176, 227);
// $color-main-active: rgb(245, 199, 194);
// $color-white: #ffffff;
// $color-sub: rgb(165, 196, 247);
